<ion-header [translucent]="true">
  <ion-toolbar class="ion-inline" style="display: flex; flex-flow: row wrap">
    <ion-title>Annonces</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="add-annonce">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="SignOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-button routerLink="/user-profile">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- ION SEGMENT -->
  <ion-toolbar>
    <ion-segment
      (ionChange)="segmentChanged($event)"
      [(ngModel)]="segment"
      color="primary"
    >
      <ion-segment-button value="0">
        <ion-label>Nutrition</ion-label>
        <ion-icon name="fast-food"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Exercices</ion-label>
        <ion-icon name="bicycle"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <!-- ION SEGMENT -->

  <div class="wave-container">
    <!-- Slide displaying all announcements -->
    <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col sizeSm="6" size="4" sizeMd="4" sizeLg="3" sizeXl="2"  *ngFor="let annonce of listAnnoncesNutrition">
              <ion-card style="background: url({{annonce.imageUrl}});" [routerLink]="['/annonces/annonce-details/', annonce.id]">
                <ion-card-header>
                  <ion-avatar style="width: 100%; height: 100%;">
                    <img src="/assets/images/meal.jpeg" />
                  </ion-avatar>
                </ion-card-header>
                <ion-card-content style="background: #7FB3FF;">
                  <ion-card-title>{{annonce.title}}</ion-card-title>
                  <p maxlength="5">{{annonce.description | slice:0:20}}..</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      
      <!-- Second slide with user's announcements -->
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col sizeSm="6" size="4" sizeMd="4" sizeLg="3" sizeXl="2"  *ngFor="let annonce of listAnnoncesExercises">
              <ion-card style="background: url({{annonce.imageUrl}});" [routerLink]="['/annonces/annonce-details/', annonce.id]">
                <ion-card-header>
                  <ion-avatar style="width: 100%; height: 100%;">
                    <img src="/assets/images/workout.jpeg" />
                  </ion-avatar>
                </ion-card-header>
                <ion-card-content style="background: #7FB3FF;">
                  <ion-card-title>{{annonce.title}}</ion-card-title>
                  <p maxlength="5">{{annonce.description | slice:0:20}}..</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
